{% extends 'base.html' %}

{% block title %}
    作成ページ
{% endblock title %}
    

        
{% block content %}
<div class="d-flex justify-content-center ">
<div class=" card border border-success" style="width: 18rem;">
    <div class="card card-header bg-light text-center"><h3>作成ページ</h3></div>
    <div class="card-body">
    <form method="POST" class=" rounded form-group">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="作成">
        <a href="{% url 'homebudget:index' %}" class="btn btn-primary">戻る</a>
    </form>
    </div>

</div>
</div>


{% endblock content %}
