{% extends 'base.html' %}


{% block title %}ホーム{% endblock title %}

{% block h1 %}家計簿アプリ{% endblock h1 %}
{% block content %}

<main>
    <div class="row d-flex justify-content-center ">
            <div class=" card shadow col-md-8 border border-success">
                <div class="card-header py-4 ">
                    <h3 class="m-0 font-weight-bold text-success">今月の買い物ログ</h3>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <div>
                        <h4>11月</h4>
                    </div>
                    <table id="my-table" class="table table-bordered table-striped table-sm table-hover table-fixed border border-success ">
                        <thead>
                            <tr class="text-center" >
                                <th data-id="price" scope="col" class="w-10 text-dark" aria-sort="ascending">金額</th>
                                <th data-id="category" scope="col" class="w-15 text-dark" >カテゴリー</th>
                                <th data-id="content" scope="col" class="w-30 text-dark text-wrap">内容</th>
                                <th data-id="created-at" scope="col" class="w-15 text-dark">作成日</th>
                                <th scope="col" class="text-dark">修正</th>
                                <th scope="col" class="text-dark">削除<th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for obj in  object_list %}
                            <tr class="table-success">
                                <td w-10>¥ {{obj.price}}</td>
                                <td class="w-15">{{obj.get_category_display}}</td>
                                <td class="w-30">{{obj.content}}</td>
                                <td class="text-center">{{obj.created_at|date:"m月d日"}}</td>
                                <td class="text-center"><a href="{% url 'homebudget:update' obj.pk %}" class="p-0 btn btn-success btn-sm">修正</a></td>
                                <td class="text-center"><a href="{% url 'homebudget:delete' obj.pk %}" class="p-0 btn btn-danger btn-sm text-nowrap" onclick="return confirm('本当に削除してもよろしいですか？')">削除</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>

            </div>

        <div class="col-md-2">
            <div class="card shadow bg-light border border-success w-100">
                <div class="card-header">
                    <h4>今月の収支</h4>
                    <!-- ToDo: 桁数がわかりやすいように","をつけたい -->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item  ">支出：¥{{payment}}</li> 
                    <li class="list-group-item">収入：¥{{incomes}}</li>
                
                    {% if isRed %}
                        <li class="list-group-item text-light bg-danger"> 赤字：¥{{total}}</li>
                    {% else %}
                        <li class="list-group-item text-light bg-info"> 健全：¥{{total}}</li>
                    {% endif %}
                    <!-- <small value="">支出 >= 収入 × 0.5</small> -->
                </ul>
            </div>

            <div class="card shadow bg-light border border-success w-100 my-4">
                <div class="card-header">
                    <h4>カテゴリ別支出</h4>
                    <!-- ToDo: 桁数がわかりやすいように","をつけたい -->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item  ">食費：¥</li> 
                    <li class="list-group-item">書籍：¥</li>
                    <li class="list-group-item">サブスク：¥</li>
                </ul>
            </div>
        </div>
    </div>
</main>


{% endblock content %}