{% extends 'base.html' %}


{% block title %}履歴{% endblock title %}


{% block h1 %}購入履歴{% endblock h1 %}
{% block content %}

<div class="d-flex justify-content-center">
    <table class=" table table-striped table-sm table-hover  border-success ">
        <thead>
            <!-- <caption>合計：¥</caption> -->
            <tr>
                <th scope="col" class="text-dark"">金額</th>
                <th scope="col" class="text-dark"">カテゴリー</th>
                <th scope="col" class="text-dark"">内容</th>
                <th scope="col" class="text-dark"">作成日</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for obj in  object_list%}
            <tr class="table-success">
                <td>¥ {{obj.price}}</td>
                <td>{{obj.get_category_display}}</td>
                <td>{{obj.content}}</td>
                <td>{{obj.created_at|date:"Y年m月d日(D)  "}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
    