{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
        crossorigin="anonymous"
    />
    <title>{% block title %}{% endblock %}</title>

<header>
    <nav class="navbar navbar-dark bg-success stcky-top">
        <div class="nav-bar d-flex flex-row">
            <a class="nav-link mx-3 text-light" href="{% url 'index' %}" >ホーム</a>
            <a class="nav-link mx-3 text-light" href="{% url 'history' %}" >履歴</a>
            <a class="nav-link mx-3 text-light" href="{% url 'create' %}" >作成</a>
        </div>
    </nav>
</header>

</head>
<body>
    <div class="p-4"></div>
    <div class="p-4">
    <h1>{% block h1 %} {% endblock %}</h1>
        {% block content %} {% endblock %}
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>